<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2010-2015 eBusiness Information, Excilys Group

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed To in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidannotations.test15"
    android:versionCode="1"
    android:versionName="2.1-SNAPSHOT" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="16" tools:ignore="OldTargetApi"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.androidannotations.test15.roboguice.SampleRoboApplication_"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true" >
        <activity android:name="org.androidannotations.test15.eviewgroup.CustomFrameLayoutActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmptyActivityWithLayout_" />
        <activity android:name=".EmptyActivityWithoutLayout_" />
        <activity android:name=".ViewsInjectedActivity_" />
        <activity android:name=".ClicksHandledActivity_" />
        <activity android:name=".FocusChangeHandledActivity_" />
        <activity android:name=".CheckedChangeHandledActivity_" />
        <activity android:name=".LongClicksHandledActivity_" />
        <activity android:name=".TouchesHandledActivity_" />
        <activity android:name=".EditorActionsHandledActivity_" />
        <activity android:name=".ItemClicksHandledActivity_" />
        <activity android:name=".ActivityWithServices_" />
        <activity android:name=".ExtraInjectedActivity_" />
        <activity android:name=".BackpressedActivity_" />
        <activity android:name=".TransactionalActivity_" />
        <activity android:name=".FromHtmlActivity_" />
        <activity android:name=".roboguice.MapActivityWithRoboGuice_" />
        <activity android:name=".roboguice.ActivityWithRoboGuice_" />
        <activity android:name=".ApplicationInjectedActivity_" />
        <activity android:name=".prefs.PrefsActivity_" />
        <activity android:name=".res.ResActivity_" />
        <activity android:name=".ThreadActivity_" />
        <activity android:name="org.androidannotations.test15.trace.TracedActivity_" />
        <activity android:name=".TextWatchedActivity_" />
		<activity android:name=".innerclasses.ActivityWithInnerEnhancedClasses_" />
        <activity android:name=".MultiFindViewActivity_" />
        <activity android:name=".ormlite.OrmLiteActivity_" />
        <activity android:name=".receiver.ActivityWithReceiver_" />
        <activity android:name="org.androidannotations.test15.menu.OptionsMenuActivity_" />
        <activity android:name="org.androidannotations.test15.menu.OptionsMenuSubActivity_" />
        <activity android:name="org.androidannotations.test15.menu.InjectMenuActivity_" />
        <activity android:name="org.androidannotations.test15.NoTitleFullscreenActivity_" />
        <activity android:name="org.androidannotations.test15.WindowFeatureActivity_" />
        <activity android:name="org.androidannotations.test15.ExtendingActivity_" />
        <activity android:name="org.androidannotations.test15.ebean.BeanInjectedActivity_" />
        <activity android:name="org.androidannotations.test15.rest.MyServiceActivity_" />
        <activity android:name="org.androidannotations.test15.instancestate.SaveInstanceStateActivity_" />
        <activity android:name="org.androidannotations.test15.afterinject.AfterInjectActivity_" />
        <activity android:name="org.androidannotations.test15.nonconfiguration.NonConfigurationActivity_" />
        <activity android:name="org.androidannotations.test15.efragment.MyFragmentActivity_" />
        <activity android:name="org.androidannotations.test15.efragment.MySupportFragmentActivity_" />
        <activity android:name="org.androidannotations.test15.afterviews.AfterViewsActivity_" />
        <activity android:name=".SSLConnection_" />
        <activity android:name="org.androidannotations.test15.SeekBarChangeListenedActivity_" />
        <activity android:name="org.androidannotations.test15.AwaitingResultActivity_" />
        <activity android:name=".HierarchyViewerActivity_" />
        <activity android:name="org.androidannotations.test15.CustomTitleActivity_" android:theme="@android:style/Theme" />
        <activity android:name=".ActivityWithGenerics_" />
        <activity android:name=".WakeLockActivity_" />
        <activity android:name=".FragmentStartedActivity_" />

        <receiver android:name="org.androidannotations.test15.ereceiver.MyReceiver_" />

        <provider
            android:name="org.androidannotations.test15.eprovider.MyProvider_"
            android:authorities=""
            android:exported="false" />

        <service
            android:name="org.androidannotations.test15.eservice.MyService_"
            android:exported="false" />
        <service
            android:name="org.androidannotations.test15.eservice.MySimpleIntentService_"
            android:exported="false" />
        <service
            android:name="org.androidannotations.test15.eintentservice.MyIntentService_"
            android:exported="false" />
        <service
            android:name="org.androidannotations.test15.eintentservice.IntentServiceHandledAction_"
            android:exported="false" />
        <service
                android:name="org.androidannotations.test15.receiver.ServiceWithReceiver_"
                android:exported="false" />
    </application>

</manifest>
