<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.googlecode.androidannotations.test15" android:versionCode="1"
	android:versionName="2.1-SNAPSHOT">

	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name=".EmptyActivityWithLayout_" />
		<activity android:name=".EmptyActivityWithoutLayout_" />
		<activity android:name=".ViewsInjectedActivity_" />
		<activity android:name=".ClicksHandledActivity_" />
		<activity android:name=".ActivityWithServices_" />

	</application>

</manifest>

