<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright (C) 2010-2011 eBusiness Information, Excilys Group

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed To in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.androidannotations.test15"
    android:versionCode="1"
    android:versionName="2.1-SNAPSHOT" >

    <application
        android:name="com.googlecode.androidannotations.test15.roboguice.SampleRoboApplication_"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name=".EmptyActivityWithLayout_" />
        <activity android:name=".EmptyActivityWithoutLayout_" />
        <activity android:name=".ViewsInjectedActivity_" />
        <activity android:name=".ClicksHandledActivity_" />
        <activity android:name=".LongClicksHandledActivity_" />
        <activity android:name=".TouchesHandledActivity_" />
        <activity android:name=".ItemClicksHandledActivity_" />
        <activity android:name=".ActivityWithServices_" />
        <activity android:name=".ExtraInjectedActivity_" />
        <activity android:name=".BackpressedActivity_" />
        <activity android:name=".TransactionalActivity_" />
        <activity android:name=".FromHtmlActivity_" />
        <activity android:name=".roboguice.MapActivityWithRoboGuice_" />
        <activity android:name=".roboguice.ActivityWithRoboGuice_" />
        <activity android:name=".ApplicationInjectedActivity_" />
        <activity android:name=".prefs.PrefsActivity_" />
        <activity android:name=".res.ResActivity_" />
        <activity android:name=".ThreadActivity_" />
        <activity android:name=".TracedActivity_" />
        <activity android:name="com.googlecode.androidannotations.test15.menu.OptionsMenuActivity_" />
        <activity android:name="com.googlecode.androidannotations.test15.NoTitleFullscreenActivity_" />
        <activity android:name="com.googlecode.androidannotations.test15.ExtendingActivity_" />
        <activity android:name="com.googlecode.androidannotations.test15.ebean.BeanInjectedActivity_" />
        <activity android:name="com.googlecode.androidannotations.test15.rest.MyServiceActivity_" />
        <activity android:name="com.googlecode.androidannotations.test15.afterinject.AfterInjectActivity_" />

        <receiver android:name="com.googlecode.androidannotations.test15.ereceiver.MyReceiver_" />

        <provider
            android:name="com.googlecode.androidannotations.test15.eprovider.MyProvider_"
            android:authorities="" />

        <service
            android:name="com.googlecode.androidannotations.test15.eservice.MyService_"
            exported="false" />

    </application>

</manifest>